<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamitey" version="2.0.10.189" targetFramework="net48" />
  <package id="ExtendedWPFConverters" version="2.0.3" targetFramework="net48" />
  <package id="ExtendedWPFVisualTreeHelper" version="2.0.2" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.6" targetFramework="net48" />
  <package id="MaterialDesignInXamlToolkitAddOns" version="0.0.6" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.5.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Windows.Forms" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>